$screen-bran: 320px;
$screen-bronn: 800px;
$screen-brienne: 1000px;

$font-family-default: "PT Sans", "Trebuchet MS", arial, sans-serif;
$font-family-alt: "Poiret One", Palatino, Georgia, serif;

$white: #ffffff;
$black: #070d0b;
$green: #78d4b7;

$space: 1em;
$space-2: 2em;
$space-4: 4em;

$cubic-bezier: cubic-bezier(0.68, -0.56, 0.266, 1.56);
$speed: 0.6s;
